pipeline/AzureGetMetadata.json
{
	"name": "AzureGetMetadata",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Product_DS_CSV",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"itemName",
						"itemType",
						"lastModified",
						"size",
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata1').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "ProductID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ProductID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ProductNumber",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ProductNumber",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Color",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Color",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "StandardCost",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "StandardCost",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ListPrice",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ListPrice",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Size",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Size",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Weight",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Weight",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ProductCategoryID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ProductCategoryID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ProductModelID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ProductModelID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "SellStartDate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SellStartDate",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "SellEndDate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SellEndDate",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "DiscontinuedDate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DiscontinuedDate",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ThumbNailPhoto",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ThumbNailPhoto",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ThumbnailPhotoFileName",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ThumbnailPhotoFileName",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "rowguid",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "rowguid",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ModifiedDate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ModifiedDate",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Product_DS_CSV",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlGenericDB",
									"type": "DatasetReference",
									"parameters": {
										"SchemaNameParam": "salesit",
										"TableNameParam": "Product_Copy"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}