pipeline/Child Product pipeline.json
{
	"name": "Child Product pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Record Count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as TotalRows from SalesLt.product ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSql_generic",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Check Record Count - 500",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Record Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Get Record Count').output.firstRow.TotalRows, 200)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Productdata",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSql_generic",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Sink_generic",
									"type": "DatasetReference",
									"parameters": {
										"Folderpathname": "Product "
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}